{% extends 'task/layout.html' %}
{% block body %}
<body>
    <nav class="navbar navbar-expand-lg bar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn nav-link text-dark mx-3 align-middle" href="/mytask">Task</a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link text-dark mx-3 align-middle" href="#">Login</a>
            </li>
          </ul>
        </div>
    </nav>


    <header >
        <h1>Traffic Monitoring Site</h1>
    </header>
    <main>
        <div class="blockindex grid-container">
            <main class="main">
                <video></video>
            </main>

            <aside class="aside">
                <div>
                    Name: {{ t.name }}<br>
                    Location: {{ t.location}}<br>
                    Total vehicles: <br>
                    Weather: <br>
                    Time: {{ t.date_time }}<br>
                    Create by: {{ t.account }}<br>
                </div>
            </aside>
        </div>
    </main>
    
</body>
{% endblock %}