{% extends 'task/layout.html' %}
{% block body %}
<body id = "index">
    <header>
        <h1>Traffic Monitoring Site</h1>
    </header>

    <main>
        {% comment %} {% for t in task %}
            <div class="blockindex container">
                <main class = "main">

                </main>

                <aside class="aside">
                    <div>
                        Name: {{ t.name }}<br>
                        Location: {{ t.location}}<br>
                        Total vehicles: {{ }}<br>
                        Weather: {{ }}<br>
                        Time: {{ t.date_time }}<br>
                        Create by: {{ t.account }}<br>
                    </div>
                </aside>
            </div>
        {% endfor %} {% endcomment %}
        {% comment %} <button name="button" type="submit" onclick="location.href='{% url "index" %}'"> Send</button>
        {% endcomment %}

        <a href="/create_task">  
            <button>Create Task</button>  
        </a>
        
        <a href="/mytask">  
            <button>My Task</button>  
        </a>
    </main>
</body>
{% endblock %}