{% extends 'task/layout.html' %}
{% block body %}
<body id = "index">
    <header>
        <h1>My task</h1>
    </header>

    <main>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">name</th>
                  <th scope="col">location</th>
                  <th scope="col">status</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
            {% for t in task %}
                <form method="post" action="{% url 'task:mytask' %}">
                    <tr>
                        <td>{{t.date_time}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.location}}</td>
                        <td>{{t.status}}</td>
                        <td><a href="{% url 'task:result' t.id %}">Result</a></td>
                    </tr>
                </form>
            {% endfor %}
        </table>
    </main>
</body>
{% endblock %}