body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif,'Poppins';
}

nav {
    background-color: #cec387;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 16px;
}

header {
    text-align: center;
}

.rightbutton {
    float: right;
}

.blockbody {
    display: block;
    margin: auto;
    width: 1000px;
}

.blockindex{
    display: block;
    margin: auto;
    background-color:#d9d9d9;
    width: 700px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.main {
    grid-column: 1/2;
    grid-row: 1/2;
}

.aside {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
}

table, td, th {  
    border: 1px solid gray;
    text-align: left;
    padding: 15px;
  }
  
table {
    border-collapse: collapse;
    width: auto;  
}
  
th {
    background-color: #b2dad4;
}

td {
    background-color: #d5e3e0;
}

